@use '../common/variables' as *;
@use '../common/mixin' as *;
@use '../common/functions' as *;

@use './ListItems.scss' as *;

.page-title {
  display: block;
  margin: pcvw(24) 0;
  font-size: pcvw(32);
}

.photo- {
  &list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: pcvw(16);
    margin-top: pcvw(24);
  }
}

.MuiStack-root {
  padding: pcvw(32) 0;

  .MuiPagination-ul {
    justify-content: center;
  }
}
