@use '../common/variables' as *;
@use '../common/mixin' as *;
@use '../common/functions' as *;

.photo-item {
  a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    strong {
      font-size: pcvw(24);
      font-weight: 600;
      margin-top: pcvw(8);
    }
  }
}
